<page backtop="100px" backbottom="150px" {% if  background %} backimg="./{{ background.url }}" {% endif %}>
    <page_header>
        <div style="text-align:{{ headerStyle }}; height:100px">
            {% if  headerLogo %}<img src="{{ headerLogo }}" alt="Logo" style="width: 33%; ">{% endif %}
        </div>
    </page_header>

    <page_footer>
        <div style="text-align: left; font-size: 11px; border-top: 1px solid black">
            <p>{{ footerText | raw }}</p>
        </div>
        <div style="text-align: center; font-size: 15px; margin-top: 5px;">
            page : [[page_cu]] / [[page_nb]]
        </div>
    </page_footer>
    {# <table style="width: 100%;">
        <tr>
            <td style="width: 60%;">
                <div>
                    <b>Réference : 123456789</b>
                </div>
            </td>
            <td style="width: 40%;">
                <div>
                    <b>Prenom NOM</b><br><br>
                    <b>Adresse complet</b><br><br>
                    <b>Code postale Ville</b><br><br>
                    <b>
                        <span>Pays</span>
                        <span style="float: right;">
                            <qrcode value="Value to Coder" ec="H" style="width: 20mm; height: 20mm; background-color: white; color: black;"></qrcode>
                        </span>
                    </b><br><br>
                </div>
            </td>
        </tr>
    </table> #}
    {# <table style="width: 100%;">
        <tr>
            <td style="width: 60%;">
                <p class="title">Objet: {{ objet }}</p>
            </td>
        </tr>
    </table> #}

    <div style="position: relative; width: 100%;;">
        <p>{{ message | raw }}</p>
    </div>
    
</page>
